<h1>It's ON!</h1>

<h2>You already know who's gonna lose</h2>

<form action="/names" method="post"> 
  <label for="player_1_name">
    The competitive one
    <input type="text" name="player_1_name">
  </label>

  <label for="player_2_name">
    The humble one
    <input type="text" name="player_2_name">
  </label>
  
  <input type="submit" value="Submit">
</form>